/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  background: black;
}

.choose-container, .service-container, .hero-container, .container-header {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .choose-container, .service-container, .hero-container, .container-header {
    width: 720px;
    height: 100dvh;
  }
}

.service-left-box, .service-content-wrapper, .left-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-left-box h3, .left-box h1 {
  font-size: clamp(28px, 8vw, 52px);
  font-weight: 600;
  line-height: 1.2;
}

.service-left-box p, .service-container h2, .left-box p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #9C9C9C;
}

button:nth-child(2), button, .btn-group .btn-blue {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 50px;
  background-color: #3D96F4;
  border: none;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: 500ms;
  cursor: pointer;
}

.link-logo {
  display: flex;
  align-items: center;
  transition: 300ms;
  font-size: 25px;
  font-weight: 700;
}
.link-logo:hover {
  transform: scale(1.2);
}

.nav-box {
  display: flex;
  padding: 32px 20px;
}

.btn-group {
  margin-left: auto;
  display: flex;
}
.btn-group ul {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-right: 32px;
}
.btn-group ul li {
  display: flex;
  align-items: center;
}
.btn-group ul li a {
  padding: 10px;
  transition: 300ms;
}
.btn-group ul li a:hover {
  transform: scale(1.2);
}
.btn-group ul li p {
  display: flex;
  background: #81818B;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}
.btn-group .btn-blue:hover {
  background: rgba(129, 129, 139, 0.7254901961);
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
}

.container-header {
  height: auto;
}

.hero-container {
  padding: 44px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}

.left-box {
  max-width: 515px;
  flex-direction: column;
}
.left-box img {
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
}
.left-box h1 {
  position: relative;
  margin-bottom: 30px;
}
.left-box p {
  margin-bottom: 20px;
}

.right-box {
  display: flex;
}
.right-box ul {
  margin: 30px;
}
.right-box ul li {
  margin-bottom: 32px;
}

.btn-box {
  width: 100%;
}

button {
  margin-right: 30px;
}
button:nth-child(2) {
  background: rgba(129, 129, 139, 0.7254901961);
}
button:nth-child(2):hover {
  background: #3D96F4;
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
}
button:hover {
  background: rgba(129, 129, 139, 0.7254901961);
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
}

.service-container h2 {
  text-align: center;
  margin-bottom: 24px;
}

.service-partner-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.service-content-wrapper {
  justify-content: space-between;
}

.service-left-box {
  max-width: 515px;
  align-items: start;
  flex-direction: column;
}
.service-left-box img {
  position: absolute;
  top: -57px;
  z-index: -1;
}
.service-left-box h3 {
  position: relative;
  margin-bottom: 30px;
}
.service-left-box p {
  margin-bottom: 20px;
}

.service-right-box {
  display: flex;
}
.service-right-box ul:nth-child(1) {
  margin-right: 30px;
  padding-top: 41px;
}
.service-right-box ul li {
  max-width: 315px;
  background: rgba(62, 62, 68, 0.7254901961);
  padding: 50px 25px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.service-right-box ul li img {
  margin-bottom: 16px;
}
.service-right-box ul li h3 {
  margin-bottom: 10px;
}

.btn-box {
  width: 100%;
}

button {
  margin-right: 30px;
}
button:nth-child(2) {
  background: rgba(129, 129, 139, 0.7254901961);
}
button:hover {
  background: rgba(129, 129, 139, 0.7254901961);
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
}

.choose-container {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
}

.choose-left-box {
  position: relative;
  display: flex;
}

.choose-right-box {
  max-width: 606px;
}

[choose-bg] {
  position: absolute;
  top: 0;
  left: -10px;
}/*# sourceMappingURL=main.css.map */