.choose-container{
   @extend %container;
   margin-top: 170px;
   display: flex;
   justify-content: space-between;
}
.choose-left-box{
   position: relative;
   display: flex;
}
.choose-right-box{
   max-width: 606px;
}
[choose-bg]{
   position: absolute;
   top: 0;
   left: -10px;
}