.footer-box{
    @extend %container;
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
}
.social-list{
    display: flex;
    gap: 16px;
}
.growfty-box{
    li>p{
        color:$pretitle-text-color;
    }
    max-width: 340px;
    li{
        margin-bottom: 32px;
    }
}
.social-list {
    li:nth-child(1) .social-item {
        @include socialLink($hover-color: $linkedin-color, $scale: 1.3);
    }
    li:nth-child(2) .social-item {
        @include socialLink($hover-color: $twitter-color, $scale: 1.3);
    }
    li:nth-child(3) .social-item {
        @include socialLink($hover-color: $facebook-color, $scale: 1.3);
    }
    li:nth-child(4) .social-item {
        @include socialLink($hover-color: $youtube-color, $scale: 1.3);
    }
    li:nth-child(5) .social-item {
        @include socialLink($hover-color: $instagram-gradient, $scale: 1.3);
    }
}

.Pages-box{
    li>a{
        color:$pretitle-text-color;
    }
    li{
        margin-bottom: 24px;
    }
}
.Utility-box{
    li>a{
        color:$pretitle-text-color;
    }
    li{
        margin-bottom: 24px;
    }
}
.Subscribe-box{
    li>p{
        color:$pretitle-text-color;
    }
    li{
        margin-bottom: 24px;
    }
}