.hero-container{
    @extend %container;
    padding: 44px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}
.hero-left-box{
    max-width: 515px;
    @extend %dfCentr;
    flex-direction: column;
    align-items: flex-start;
    img{
        position: absolute;
        top: -30px;
        left: -30px;
        z-index: -1;
    }
    h1{
        position: relative;
      @extend  %titleText;
      margin-bottom: 30px;
    }
    p{
        @extend %postTitle;
        margin-bottom: 20px;
    }
}
.hero-right-box{
    
    display: flex;
    ul{
        margin: 30px;
        li{
            margin-bottom: 32px;
        }
    }
}
.hero-btn-box{
    width: 100%;
    
    }
    button{
        margin-right: 30px;
        @extend %btn;
        &:nth-child(2){
            @extend %btn;
            background: $btn-color-rgay;
            &:hover{
                background: $btn-color-blue;
                
                text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
            }
    }
    &:hover{
        background: $btn-color-rgay;
        
        text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    }
}