%btn{
    font-family: $font-family-heading;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 50px;
    background-color: $btn-color-blue;
    border: none;
    letter-spacing: 2px;
    color: $primary-text-color;
    transition: 500ms;
    cursor: pointer;
}
