$primary-text-color: #FFFFFF;
$pretitle-text-color: #9C9C9C;
$btn-color-blue: #3D96F4;
$btn-color-rgay: #81818bb9;
$bg-color-rgay: #3e3e44b9;
$link-hover-color: red;
$font-family-heading: 'Poppins', sans-serif;